.terminal-fondo {
    font-family: 'Courier New', Courier, monospace;
  }
  
  .terminal-circulo {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
  }
  
  #terminal-scroll {
    font-size: 0.95rem;
  }
  
.terminal-input {
    white-space: nowrap;
  }